//Fonts
$f-neris-b: "Neris", "Neris-Black", "Arial", sans-serif;
$f-neris-sb: "Neris", "Neris-SemiBold", "Arial", sans-serif;
$f-neris-l: "Neris", "Neris-Light", "Arial", sans-serif;

//Width
$desktop: 1920px;
$m-tablet: 991px;
$tablet: 769px;
$m-mobil: 420px;
$mobil: 376px;

//Colors
$black: #000000;
$white: #ffffff;
$grey: #f5f5f5;
$red: #ee3124;
$blue: #005bab;