body {
	font-family: $font-family-sans-serif;
}

// В Bootstrap есть механизм управления размерами заголовков (а так же их начертаниями)
// Переопределять в таком виде не ок
h1,
h2 {
	font-size: 45px;
	line-height: 60px;
	font-weight: 600;

	@include media-breakpoint-down(sm) {
		font-size: 30px;
		line-height: 40px;
	}
}

// Все размеры тексты на странице можно привести к условным 3-5 размерам: small, medium, large, extra-large.
// Эти размеры можно один раз задать в бутстрапе и потом использовать везде.
// В рамках одностраничного сайта, в принципе можно позволить ствить стили на теги,
// но, представь, что будет если сайт многостраничный? А бандл - один для всех страниц.
p {
	font-size: 22px;
	line-height: 40px;
	font-weight: 300;

	@include media-breakpoint-down(sm) {
		font-size: 16px;
		line-height: 26px;
	}
}

li {
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
}

// Бутстрап позволяет нам задать цветовую карту, и, primary кнопки это всего лишь
// следствие этой цветовой карты. Также для начертания и поведение при ховере упраляются бутстрапом.
.btn-primary {
	font-weight: 900;
	text-transform: uppercase;

	color: $white;
	background-color: $red;
	border: none;

	transition: all 0.50s ease-in-out;

	&:hover,
	&:active {
		background-color: $blue;
	}
}
