@font-face {
  font-family: "Neris";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("Neris"), local("Neris-Black"), url("../assets/fonts/neris_black.woff") format("woff"), url("../assets/fonts/neris_black.woff2") format("woff2");
}

@font-face {
  font-family: "Neris";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Neris"), local("Neris-SemiBold"), url("../assets/fonts/neris_semibold.woff") format("woff"), url("../assets/fonts/neris_semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Neris";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Neris"), local("Neris-Light"), url("../assets/fonts/neris_light.woff") format("woff"), url("../assets/fonts/neris_light.woff2") format("woff2");
}

.container-group-all {
  padding: 32px 70px;
  -webkit-box-shadow: 0px 0px 33px -20px #000000;
          box-shadow: 0px 0px 33px -20px #000000;
}

.logo {
  padding: 5px 60px;
  font-family: "Neris", "Neris-Black", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #005bab;
  border-radius: 50px;
}

.nav-item {
  margin: 0 30px 0 0;
  padding: 0;
  font-family: "Neris", "Neris-Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.nav-item:last-child {
  margin: 0;
}

.nav-link {
  padding: 9px 0 7px 0;
  border-bottom: 2px solid transparent;
  color: #000000;
}

.nav-link:hover,
.nav-link:active {
  color: #000000;
  border-bottom: 2px solid #ee3124;
}

.nav-btn {
  padding: 12px 39px;
  font-family: "Neris", "Neris-Black", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3124;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-btn:hover,
.nav-btn:active {
  color: #ffffff;
  background-color: #005bab;
}

.header {
  padding: 95px 0 115px 0;
}

.header-container {
  padding: 0 9px;
  max-width: 1170px;
}

.header-info h1 {
  margin: 0 0 54px 0;
  font-family: "Neris", "Neris-SemiBold", "Arial", sans-serif;
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
}

.header-info p {
  margin: 0 0 65px 0;
  max-width: 470px;
  font-family: "Neris", "Neris-Light", "Arial", sans-serif;
  font-size: 22px;
  line-height: 40px;
  font-weight: 300;
}

.header-button {
  padding: 18px 14.1% 19px 14.2%;
  font-family: "Neris", "Neris-Black", "Arial", sans-serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3124;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-button:hover,
.header-button:active {
  background-color: #005bab;
}

.header-picture img {
  position: relative;
  top: 5px;
  left: -42px;
}

.how {
  padding: 110px 0;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.how h2 {
  margin: 0 0 58px 20px;
  font-family: "Neris", "Neris-SemiBold", "Arial", sans-serif;
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
}

.how-container {
  max-width: 1170px;
  background-color: #f5f5f5;
}

.how-image {
  margin: 0;
}

.how-image img {
  position: relative;
  top: 8px;
  left: 8px;
}

.accordion {
  min-height: 347px;
}

.accordion-button {
  padding: 0 0 0 16.6%;
  font-family: "Neris", "Neris-Black", "Arial", sans-serif;
  font-size: 22px;
  line-height: 53px;
  font-weight: 900;
  color: #000000;
  background-color: #f5f5f5;
}

.accordion-button:not(.collapsed),
.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button::after {
  display: none;
}

.accordion-item .accordion-button {
  padding: 0 0 0 16.6%;
  color: #000000;
  background-color: #f5f5f5;
}

.accordion-button.collapsed {
  position: relative;
  padding: 0 0 0 16.6%;
}

.accordion-button.collapsed::after {
  display: none;
}

.accordion-item .accordion-button::before,
.accordion-button.collapsed::before {
  position: absolute;
  top: 0;
  left: 60px;
  font-family: "Neris", "Neris-Black", "Arial", sans-serif;
  font-size: 22px;
  line-height: 53px;
  font-weight: 900;
  color: #000000;
  content: attr(data-number);
}

.accordion-body {
  padding: 1.9% 0 0 20%;
  background-color: #f5f5f5;
}

.accordion-body li {
  position: relative;
  font-family: "Neris", "Neris-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.accordion-body li::before {
  position: absolute;
  top: 51%;
  left: -27px;
  width: 6px;
  height: 12px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  content: "";
}

.accordion-body li:first-child::before,
.accordion-body li:last-child::before {
  top: 25%;
}

.accordion-item {
  margin: 0;
  padding: 0;
  border: none;
}

.accordion-item h2 {
  margin: 0;
}

.accordion-item:last-child {
  margin: 0;
}

@media (max-width: 991px) {
  .header-container {
    padding: 0 12% 0 13%;
  }

  .header-info {
    margin: 0 0 50px 0;
  }

  .header-info p {
    width: 100%;
    max-width: 100%;
  }

  .accordion {
    margin: 0 0 58px 0;
  }
}

@media (max-width: 769px) {
  .header {
    padding: 70px 0 73px 0;
  }

  .header-button {
    padding: 18px 3%;
    width: 100%;
    max-width: 420px;
  }

  .header-picture {
    margin: 0 auto;
  }

  .header-picture img {
    top: 0;
    left: 0;
  }

  .how {
    padding: 63px 0 80px 0;
  }

  .how h2 {
    margin: 0 0 60px 20px;
    text-align: left;
  }

  .how-container {
    margin: 0;
    padding: 0 10.4%;
  }

  .how-image {
    padding: 0 10px 0 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .how-image img {
    top: 0;
    left: 0;
  }

  .accordion-button {
    line-height: 30px;
  }

  .accordion-item .accordion-button::before,
  .accordion-button.collapsed::before {
    top: -10px;
    left: 2.3%;
  }

  .accordion-body {
    padding: 4.6% 0 0 21.2%;
  }

  .accordion-body li::before {
    top: 30%;
  }

  .accordion-item {
    margin: 0 0 23px 0;
  }

  .accordion-item:nth-child(2) {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 376px) {
  .header {
    padding: 37px 0 73px 0;
  }

  .header-container {
    padding: 0 17px;
  }

  .header-info h1 {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 40px;
  }

  .header-info p {
    margin: 0 0 37px 0;
    font-size: 16px;
    line-height: 26px;
  }

  .header-picture img {
    width: 274px;
  }

  .how {
    padding: 60px 0 76px 0;
  }

  .how h2 {
    margin: 0 0 45px 0;
    font-size: 30px;
    line-height: 45px;
  }

  .how-container {
    padding: 0 16px;
  }

  .how-image {
    margin: 0 auto;
    padding: 0;
    max-width: 181px;
  }

  .accordion {
    margin: 0 0 73px 0;
    overflow: hidden;
  }

  .accordion-button {
    font-size: 20px;
  }

  .accordion-item .accordion-button::before,
  .accordion-button.collapsed::before {
    top: 0;
    left: -6px;
    font-size: 20px;
    line-height: 30px;
  }

  .accordion-body {
    padding: 7.5% 0 0 25.2%;
  }

  .accordion-body li::before {
    top: 20%;
  }

  .accordion-body li:first-child::before,
  .accordion-body li:last-child::before {
    top: 15%;
  }

  .accordion-item:nth-child(2) {
    margin: 0 0 25px 0;
  }
}