@font-face {
  font-family: "Neris";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("Neris"), local("Neris-Black"), url("./assets/fonts/neris_black.woff") format("woff"), url("./assets/fonts/neris_black.woff2") format("woff2");
}

@font-face {
  font-family: "Neris";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Neris"), local("Neris-SemiBold"), url("./assets/fonts/neris_semibold.woff") format("woff"), url("./assets/fonts/neris_semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Neris";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Neris"), local("Neris-Light"), url("./assets/fonts/neris_light.woff") format("woff"), url("./assets/fonts/neris_light.woff2") format("woff2");
}