<div class="hero">
	<div class="container hero-container">
		<div class="row align-items-center">
			<div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 hero-info">
				<h1>Ut enim minim veniam,<br>nostrud exercitation ullamco laboris</h1>
				<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
					aut
					fugit, sed quia consequuntur.</p>
				<button class="btn btn-primary hero-button" type="button">Lorem ipsum dolor sit amet</button>
			</div>

			<div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 hero-picture">
				<img class="img-fluid" src="img/gardener.png" alt="Man with plants" width="451" height="500">
			</div>
		</div>
	</div>
</div>